AWSTemplateFormatVersion: "2010-09-09"

Description: DDB Tables for LLM history and summary

Mappings:
  Constants:
    Values:
      ContactSummaryPrefix: "aaa-contact-summary-"
      LlmHistoryPrefix: "aaa-llm-history-"

Resources:
  DDBContactSummary:
    Type: "AWS::DynamoDB::Table"
    Properties:
      TableName: !Join
        - ''
        - - !FindInMap [Constants, Values, ContactSummaryPrefix]
          - !Select [4, !Split ['-', !Select [2, !Split ['/', !Ref AWS::StackId]]]]
      AttributeDefinitions:
        - AttributeName: "ContactId"
          AttributeType: "S"
      KeySchema:
        - AttributeName: "ContactId"
          KeyType: "HASH"
      ProvisionedThroughput:
        ReadCapacityUnits: 1
        WriteCapacityUnits: 1

  DDBLlmHistory:
    Type: "AWS::DynamoDB::Table"
    Properties:
      TableName: !Join
        - ''
        - - !FindInMap [Constants, Values, LlmHistoryPrefix]
          - !Select [4, !Split ['-', !Select [2, !Split ['/', !Ref AWS::StackId]]]]
      AttributeDefinitions:
        - AttributeName: "AnsweredDate"
          AttributeType: "S"
        - AttributeName: "ContactId"
          AttributeType: "S"
        - AttributeName: "Id"
          AttributeType: "S"
      KeySchema:
        - AttributeName: "Id"
          KeyType: "HASH"
        - AttributeName: "AnsweredDate"
          KeyType: "RANGE"
      ProvisionedThroughput:
        ReadCapacityUnits: 1
        WriteCapacityUnits: 1
      GlobalSecondaryIndexes:
        - IndexName: "ContactId-AnsweredDate-index"
          KeySchema:
            - AttributeName: "ContactId"
              KeyType: "HASH"
            - AttributeName: "AnsweredDate"
              KeyType: "RANGE"
          Projection:
            ProjectionType: "ALL"
          ProvisionedThroughput:
            ReadCapacityUnits: 5
            WriteCapacityUnits: 5

Outputs:
  DDBContactSummaryTable:
    Value: !Ref DDBContactSummary
  DDBLlmHistoryTable:
    Value: !Ref DDBLlmHistory